@import "tailwindcss";
::-webkit-scrollbar {
    /* display: none; */
}
body{
    background-color: rgb(255, 255, 255);
}
.body_right{
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Scroll bar hidden property */
::-webkit-scrollbar{
    display: none;
}